<!DOCTYPE html>
<html>
<head>
    <meta charset="utf-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>@ViewBag.Title - My ASP.NET Application</title>
    <link href="~/Content/bootstrap.min.css" rel="stylesheet" />
</head>
<body>

    <!-- Navbar -->
    <div class="navbar navbar-dark bg-dark">
        <a class="navbar-brand ms-4" href="#">GADGET STORE</a>
    </div>

    <!-- Main Content Row -->
    <div class="container mt-3">
        <div class="row">

            <!-- Left Side: Categories -->
            <div id="categories" class="col-md-3">
                @Html.Action("Menu", "Nav")
            </div>

            <!-- Right Side: Products -->
            <div class="col-md-9">
                @RenderBody()
            </div>

        </div>
    </div>

</body>
</html>
