
@model IEnumerable<SportsStore.Domain.Entities.Product>

@{
    ViewBag.Title = "List";
}

<h2>List</h2>

@foreach(var p in Model) 
{ 
    <div>
        <h3>Name = @p.Name</h3>
        <h3>Description = @p.Description</h3>
        <h3>Category = @p.Category</h3>
        <h3>Price = @p.Price</h3>
        <h1>====================</h1>
    </div>
}