@model SportsStore.WebUI.Models.ProductViewListModel

@{
    ViewBag.Title = "List";
}

@foreach (var p in Model.Products)
{
    @Html.Partial("ProductSummary", p)
}

<!-- Display the item count and pagination in a flex container -->
<div class="d-flex justify-content-between align-items-center mt-3">
    <div>
        <span>@Model.PageInfo.TotalItems items found</span>
    </div>
    <div class="btn-group">
        @Html.PageLinks(Model.PageInfo, x => Url.Action("List", new { page = x, category = Model.CurrentCategory }))
    </div>
</div>
